<!DOCTYPE html>
<html>
  <head>
    <title>Serenity Hair Salon</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="~/js/scripts.js"></script>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/styles.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
    <h1>Serenity Hair Salon</h1>
    <nav>
      <a href="/">Home</a>
      <a href='/stylists'>Stylists</a>
      <a href='/stylists/new'>Add a stylist</a>
    </nav>
      @RenderBody()
    </div>
  </body>
</html>
