@{
  Layout = "_Layout";
}
@using HairSalon.Models;
<h3>Add Specialty</h3>

<form action='/specialties' method='post'>
  <input id='specialty' name='specialty' type='text' required placeholder="Specialty">
  <button type="submit">Add</button>
</form>
