
h1 {
  color: #ccc;
  margin-left: 15px;
}
h2 {
  margin-top: 20px;
  font-size: 1.25em;
  /* text-align: center; */
}
h3, h4 {
  margin-top: 25px;
}
body {
  margin: 0;
  padding: 0;
  background-color: #ccc;
  background-image: url("/img/the-serenity-of-night.jpg");
  background-repeat: no-repeat;
  /* background-size: cover; */
  color: white;
}
th, td {
  padding-right: 15px;
}
table {
  margin-top: 25px;
  margin-bottom: 40px;
}
nav {
  margin-bottom: 50px;
}
nav a{
  list-style: none;
  /* background-color: #400080; */
  background-color: #ddd;
  text-align: center;
  padding: 0;
  margin: 0;
  /* font-family: 'Oswald', sans-serif; */
  font-size: 1.2em;
  line-height: 15px;
  height: 15px;
  border-bottom: 1px solid #888;
  border-right: 1px solid #000099;
  text-decoration: none;
  color: #000099;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover, .button:hover, button:hover {
  background-color: #4400cc;
  color: white;
  text-decoration: none;
}
 
nav a:active, .button:active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

a {
  color: peachpuff;
}
a:hover {
  background-color: white;
  color: rgb(83, 47, 2);
}
.button, button {
  background-color: #ddd;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 75px;
  height: 25px;
  /* border-bottom: 1px solid #888; */
  border-left: 1px solid #000099;
  text-decoration: none;
  color: #000099;
  display: block;
  transition: .3s background-color;
  margin-top: 5px;
}
@media screen and (min-width: 600px) {
  nav a {
    width: 120px;
    border-bottom: none;
    height: 40px;
    line-height: 40px;
    font-size: 1em;
  }
   nav a {
    display: inline-block;
    margin-right: -4px;
  }
}
.intro {
  margin-top: 100px;
}
.bottom {
  margin-top: 100px;
}
strong {
  font-size: 1.2em;
}