@{
  Layout = "_Layout";
}
<h3>New client for @Model.GetFirstName() @Model.GetLastName()</h3>
<form action="/stylists/@Model.GetId()/clients" method="post">
  <input id="stylistId" name="stylistId" type="hidden" value="@Model.GetId()">
  <label for='firstName'>First Name</label>
  <input id='firstName' name='firstName' type='text' required><br />
  <label for='lastName'>Last Name</label>
  <input id='lastName' name='lastName' type='text' required><br />
  <label for='phoneNumber'>Phone   </label>
  <input id='phoneNumber' name='phoneNumber' type='text' required><br />
  <label for='notes'>Notes</label>
  <textarea id='notes' name='notes' rows='3' cols='50'></textarea><br />
  <button type="submit">Add</button>
</form>